.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-weight: var(--semibold);
  font-size: var(--text-md);
  line-height: var(--leading-lg);

  height: 2.5rem;
  min-width: 8.3rem;
  border-radius: 0.25rem;
  cursor: pointer;

  transition: all .3s;
}

.button.contained.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button.outlined.primary {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.button.text.primary {
  background-color: transparent;
  color: var(--color-primary);
}

.button.contained.gray {
  background-color: var(--color-gray-base);
  color: var(--color-white);
}

.button.outlined.gray {
  background-color: var(--color-white);
  color: var(--color-gray-base);
  border: 1px solid var(--color-gray-base);
}

.button.text.gray {
  background-color: transparent;
  color: var(--color-gray-base);
}

.button.contained.secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.button.outlined.secondary {
  background-color: var(--color-white);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.button.text.secondary {
  background-color: transparent;
  color: var(--color-secondary);
}

.button:hover {
  filter: brightness(90%);
}

.button:disabled {
  cursor: not-allowed;
  filter: opacity(0.5);
}
