select {
  background-repeat: no-repeat;
  background-position: right 10px center; /* posiciona a seta */
  background-size: 16px;
  padding-right: 30px; /* espaço para a seta */
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input-label {
  font-weight: var(--semibold);
  font-size: var(--text-sm);
  color: var(--color-gray-dark);
  line-height: var(--leading-sm);
}

.input-field {
  padding: 0 1rem;
  height: 2.5rem;
  font-size: var(--text-md);
  color: var(--color-gray-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-light);
  border-radius: 0.25rem;
}

.input-field::placeholder {
  color: var(--color-gray-light);
}

.input-field:focus {
  border-color: var(--color-primary);
  outline: none;
}

.input-error {
  border-color: var(--color-error);
}

.input-error-message {
  color: var(--color-error);
  font-size: var(--text-sm);
}
