.logo-wrapper {
  position: relative;
  width: 8.4rem;
  display: flex;
  height: 1.5rem;
  transition: all 0.3s;
}

.logo-certa {
  opacity: 0;
  padding: 0 0 0 1.5rem;
}

.logo-wrapper:hover {
  width: 2rem;
}

.logo-wrapper::before,
.logo-wrapper::after {
  position: absolute;
  right: 0;
  content: '';
  width: 5.4px;
  background-color: #f79028;
  z-index: -1;
}

.logo-wrapper::before {
  height: 3px;
  bottom: 0;
}

.logo-wrapper::after {
  height: 1.15rem;
  top: 0;
}
