.backdrop {
  background-color: var(--color-backdrop);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-icon {
  align-self: center;
}

.modal-icon.info {
  color: var(--color-primary);
}

.modal-icon.warning {
  color: var(--color-secondary);
}
